body {
  /*background-image: linear-gradient(50deg, #d873f1, #ffffff);*/
  background-color: rgba(9, 9, 53, 0.671);
  margin: 0;
  font-family:Helvetica, sans-serif,  Arial ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}