.game-card {
    border-radius: 25px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    width: 22vw;
    height: 58vh;
    margin: 5%;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
}

.bottom-card {
    padding: 5%;
}




.game-img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    order: 0;
    -ms-flex-align: start;
    flex-basis: 30%;
}

.game-name {
    font-family: MD Primer Bold,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
    font-weight: 1000;
    text-align: center;
    order: 1;
    font-size: 150%;
    flex-basis: 10%;

}


.dev-name {
    font-family: MD Primer Bold,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
    text-align: center;
    font-size: 20px;
    order: 2;
}

.game-player-count {
    font-family: MD Primer Bold,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
    text-align: center;
    font-size: 20px;
    order: 3;
}

/* #game-ratings {
    
} */

.rating-box {
    font-family: MD Primer Bold,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
    order: 4;
    display: flex;
    flex-direction: row;
    height: 7%;
    width: 90%;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    
}

.rating-box > .rating-box-text {
    order: 0;
    text-align: center;
}

.rating-box > .rating-box1 {
    background-color: green;
    order: 1;
    height: 50%;
    text-align: center;
}

.rating-box > .rating-box2 {
    background-color: red;
    order: 2;
    height: 50%;
    text-align: center;
}

.ratings {
    font-family: MD Primer Bold,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
    order: 5;
    display: flex;
    flex-direction: row;
    height: 7%;
    width: 90%;
    justify-content: center;
    align-items: baseline;
    font-size: small;
    text-align: center;
    margin-top: 5%;
}


.game-news-link {
    text-align: center;
    font-size: 20px;
}