.website{
  display: flex;
  flex-direction: column;
}

/* Top of website */
.title-and-icon{
  display: flex;
  flex-direction: row;
  background-color: #080629;
  align-items: center;
  justify-content: center;
  gap: 1.5%;
  background-image: url("https://images.squarespace-cdn.com/content/v1/5ab3b8f39772aeff2c7a6a2e/1534518278904-W2S49VRI3FVFSAQGX1NL/starry-banner-1800x800.jpg?format=2500w");
}

#icon{
  height: 6%;
  width: 6%;

}

#title{
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  font-family: 'Catamaran', sans-serif;
}

.imageIcons {
  width: 50px;
  height: 50px;
}




/* .search-box {
  width:100vw;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  background-color: #161568ee;
  gap: 1%;
  min-height:100px;
  justify-content: center;
} */

.search-box {
  display: grid;
  grid-template-columns: 1fr repeat(3, auto) 1fr;
  grid-column-gap: 5px;
  width:100vw;
  align-items: center;
  position: relative;
  font-size: 16px;
  background-color: #161568ee;
  gap: 1%;
  min-height:100px;
  justify-content: center;
  padding-left: 3.5%;
}

li:nth-child(1) { grid-column-start: 2; }
li:nth-child(4) { margin-left: auto; }


#myInput {
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 18px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

.dropdown {
  display: flex;
  flex-direction: row;
  gap: 1%;
}

.dropdown i{
  transform: translateY(8px);
}

.material-icons { 
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  height: 27px;
  width: 27px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);

}


.dropdown input{ /* search box */
  width: 60vw;;
  height: 3vw;;
  font-size: 20px;
  text-align: center;
  border: 0;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
  border-radius: 25px;
}

.dropdown-content { /* box inside search bar*/
  font-size: 20px;
  margin:0;
  align-items: center;
  background-color: #f6f6f6;
  min-width: 230px;
  padding-inline-start: 0px;
  z-index: 1;
}

.dropdown-content ul{
  width: 100vw;
  display: grid;
  justify-content: center;
  background: dodgerblue;
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding: 0;
  padding-inline-start: 0px;
}


.dropdown-content li{
  text-align: center;
  color: #fff;
  background: purple;
  display: block;
  float: left;
  width:30vw;
  padding: 1rem;
  margin-left: 0;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

.dropdown-content li a {
  color: #fff;
}

.dropdown-content li:hover {
  background: rgb(145, 145, 224);
  cursor: pointer;
}

.dropdown-content ul li ul {
  background: rgb(80, 118, 231);
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  max-width: 30vw;;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

.dropdown-content ul li:hover > ul,
.dropdown-content ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.dropdown-content ul li ul li {
  clear: both;
  width: 100%;
}




.decorations {
  display: flex;
  flex-direction: row;
  gap: 0%;

}

.decorative-image{
  width: 10%;
}






/* Bottom of website */

#game-card-display{
  object-fit: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10vw;
  background-color: #dce1e9;
}