


.search-box h1{
  text-align: center;
  font-size: 72px;
  color: white;
  -webkit-text-stroke: 3px black;
}

.search-box {
  width:100vw;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

#myInput {
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 18px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}


.dropdown i{
  transform: translateY(8px);
}

.dropdown input{
  width: 25vw;;
  height: 4vw;;
  font-size: 20px;
  text-align: center;
}

.dropdown-content {
  font-size: 16px;
  margin:0;
  align-items: center;
  background-color: #f6f6f6;
  min-width: 230px;
  padding-inline-start: 0px;
  z-index: 1;
}

.dropdown-content ul{
  width: 100vw;
  display: grid;
  justify-content: center;
  background: dodgerblue;
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding: 0;
  padding-inline-start: 0px;
}


.dropdown-content li{
  text-align: center;
  color: #fff;
  background: purple;
  display: block;
  float: left;
  width:100%;
  padding: 1rem;
  margin-left: 0;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

.dropdown-content li a {
  color: #fff;
}

.dropdown-content li:hover {
  background: blue;
  cursor: pointer;
}

.dropdown-content ul li ul {
  background: royalblue;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

.dropdown-content ul li:hover > ul,
.dropdown-content ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.dropdown-content ul li ul li {
  clear: both;
  width: 100%;
}

#game-card-display{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10vw;
}